body{
    background-color: lightblue; /*lightsalmon, lightblue, lightcyan*/
}
#caja{
    margin: auto;
    margin-top: 10%;
    display: block;
    background-color: lightcyan;
    height: 100px;
    width: 100px;
}
#divForm{
    margin: auto;
    margin-top: 10%;
    display: block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}
#errorTexto {
    color: red;
    display: none;
}