
.nav-icon , .nav-toggle{
    display: none; /* Ocultamos los iconos en pantallas grandes */
}
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.nav-menu li {
    display: inline-block;
}
@media (max-width: 1024px) {
    .nav-text {
        display: none; /* Ocultamos el texto */
    }
    .nav-icon {
        display: inline-block; /* Mostramos los iconos */
    }
}

/* Pantallas pequeñas (menos de 768px) */
@media (max-width: 480px) {
    .nav-menu {
        display: none; /* Ocultamos el menú */
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 24px;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
    }

    .nav-menu li {
        text-align: center;
        margin: 5px 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header, nav, main, footer {
    padding: 1em;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
}

nav {
    background: #444;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 3rem;
}
nav ul li :hover {
    background-color: #d3d3d3;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
}





main {
    display: flex;
    flex: 1;
    margin: 10px;
}

section {
    flex: 3;
    margin-right: 10px;
}

aside {
    flex: 1;
    background: #f4f4f4;
    padding: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}